@media (min-width: 768px) {
  .container {
    display: flex;
  }
}

.recipe-list-div {
  flex-basis: 450px;
}

.recipe-details-div {
  flex: 2;
}

.recipe-list-div,
.recipe-details-div {
  padding: 30px;
}
