<div class="container">
  <div>
    <img class="image" src="{{ recipe.imagePath }}" />
  </div>
  <div class="heading">
    <h1>{{ recipe.name }}</h1>
  </div>
  <button mat-flat-button [matMenuTriggerFor]="menu" color="primary">
    Manage Recipe <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click) = "addToSl()">To Shopping List</button>
    <button mat-menu-item [routerLink]="['edit']" routerLinkActive="router-link-active" >Edit Recipe</button>
    <button mat-menu-item>Delete Recipe</button>
  </mat-menu>
  <div class="description">
    <p>{{ recipe.description }}</p>
  </div>
  <div class="ingredients">
    <ul>
      <li *ngFor="let item of recipe.ingredient">
        {{ item.name }} - {{ item.amount }}
      </li>
    </ul>
  </div>
</div>
