.newButton {
  margin-bottom: 10px;
}

.recipeItem{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

app-recipe-item{
    flex: 1 0 45.5%;
    margin: 20px 10px;
}

@media (max-width: 525px){
    .recipeItem{
        display: block;
    }
}